@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center center">
    <h1 class="display-7">
        CONTROLE DE PATRIMONIOS
    </h1>
</div>

<style>
    .center {
        padding: 140px 0;
        font-family: "Times New Roman", Times, serif;
    }
</style>