@model ControlePatrimonios.Models.TbTipo

@{
    ViewData["Title"] = "Criar";
}

@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
{
    <script>
        swal('@ViewData.ModelState["Error"].Errors.First().ErrorMessage', '', 'warning');
    </script>
}
<h2>Criar Tipo</h2>
<hr />
<div class="center">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DescricaoTipo" class="control-label"></label>
                    <input asp-for="DescricaoTipo" class="form-control" />
                    <span asp-validation-for="DescricaoTipo" class="text-danger"></span>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-offset-4 col-md-4">
        <a asp-action="Index">Voltar para a lista</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
