@model ControlePatrimonios.Models.TbEncerramento

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar Encerramento</h2>
<hr />
<div class="center">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="IdItemNavigation" class="control-label"></label>
                    <select asp-for="IdItemNavigation" class="form-control" asp-items="ViewBag.IdItem"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Motivo" class="control-label"></label>
                    <input asp-for="Motivo" class="form-control" />
                    <span asp-validation-for="Motivo" class="text-danger"></span>
                </div>
                <div class="form-group" align="right">
                    <input type="submit" value="Criar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="col-md-offset-4 col-md-4">
        <a asp-action="Index">Voltar para a lista</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
